<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Hello new Project</h1>
<div th:switch="${allNames}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="name : ${allNames}">
                <td th:text="${name.id}"></td>
                <td th:text="${name.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>